data/
logs/
.mypy_cache/
__pycache__/
**/__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.venv/
tests/
docs/
deployment/
!deployment/entrypoint.sh
!deployment/poetry-requirements.txt
!deployment/scripts/
*.dump
*.db
